<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <title>Cancer Detect</title>

    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

        {# Custom CSS#}
        <link rel="stylesheet" href="{% static 'css/basicapp.css' %}">

        {# Fonts#}
        <link rel="stylesheet" href="assets/css/font-awesome-4.7.0.min.css">


  </head>
  <body>
    <!--navbar-->
    <nav class="navbar navbar-expand-sm bg-light ">
      <div class="container">

        <ul class="navbar-nav">
          <li class="nav-item"> <a class="nav-link" href="{% url 'index' %}"> Home</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'basicapp:about' %}"> About </a> </li>
          </ul>

          {% if user.is_authenticated %}
          <ul class="navbar-nav">

            <li class="nav-item">
              <a class="nav-link">Welcome {{user.username}}</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'basicapp:upload'%}">New Patient</a>
            </li>

            <li class="nav-item">
               <a class="nav-link"  href="{% url 'basicapp:patient_list' %}"> Examine </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout'%}">Logout</a>
            </li>
          </ul>
          {% else %}
          <ul class=" nav navbar-nav navbar-right">

            <li class="nav-item">

              <a class="nav-link" href="{% url 'register' %}"> <span class="glyphicon glyphicon-user"></span> Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}"><span class="glyphicon glyphicon-user"> login</span></a>

            </li>
          </ul>
        </ul>

          {% endif%}
      </div>
    </nav>

    <!--CONTENT BLOCK -->
    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          <div class="block">
            {% if messages%}
               {% for message in messages%}
               <div class="alert alert-{{message.tags}}">
                 {{message}}
               </div>
               {% endfor%}
            {% endif%}
            {% block content%}
            {%endblock%}

          </div>

        </div>

      </div>

    </div>

  </body>
</html>
